* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

aside,
nav,
footer,
header,
section {
  display: block; }

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
.btn_white-outline {
  padding: 13px 31px;
  border: 1.5px solid #fff;
  border-radius: 50px;
  color: white;
  background: none; }
  .btn_white-outline:hover {
    color: #E94D35; }

.btn_white-fill {
  padding: 13px 31px;
  border-radius: 50px;
  background: white;
  color: black; }
  .btn_white-fill:hover {
    color: #E94D35; }

.btn_blue-fill {
  padding: 13px 31px;
  border-radius: 50px;
  color: white;
  background: #1f3e76; }
  .btn_blue-fill:hover {
    color: #E94D35; }

:root {
  --text-sm1: 0.875rem /* 14px */;
  --text-base: 1rem /* 16px */;
  --text-lg1: 1.25rem /* 20px */;
  --text-h3: 1.5rem /* 24px */;
  --text-h2: 3rem /* 32px */;
  --text-h1: 5rem /* 48px */; }

@media (max-width: 1100px) {
  :root {
    --text-lg1: 1rem;
    --text-h3: 1.25rem;
    --text-h2: 1.5rem;
    --text-h1: 2rem; } }
body {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400;
  color: #161513;
  font-size: var(--text-base);
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  body.locked {
    overflow: hidden; }
  body main {
    flex: 1; }

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 900px) {
    .container {
      padding: 0 10px; } }

.container-sm {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 900px) {
    .container-sm {
      padding: 0 10px; } }

.subtitle-main {
  font-weight: 700;
  font-size: var(--text-sm1);
  line-height: 286%;
  letter-spacing: 0.15em;
  text-transform: uppercase; }

.title-main {
  font-weight: 700;
  font-size: var(--text-h2);
  line-height: 115%;
  letter-spacing: -0.04em; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #214d9c;
  z-index: 50; }

.header__container {
  position: relative;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 0.25rem;
  font-weight: 700;
  color: white;
  z-index: 10; }

.header__menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex: 0 1 750px; }

.menu__body {
  display: flex;
  flex: 1 1 auto; }
  .menu__body .menu__list {
    display: flex;
    gap: 3.5rem;
    z-index: 10; }

.menu__link {
  color: white;
  font-size: var(--text-h3);
  font-weight: 700;
  transition: color 0.4s ease 0s; }
  .menu__link:hover {
    color: #83c94a; }

.actions-menu {
  z-index: 2; }
  .actions-menu svg {
    width: 32px;
    height: 32px;
    fill: white;
    cursor: pointer;
    transition: fill 0.4s ease 0s; }

.icon-menu {
  display: none; }

.active-link {
  color: #83c94a; }

@media (max-width: 68.75em) {
  .header__menu {
    flex: 0 1 auto; } }
@media (max-width: 61.998em) {
  .menu__list {
    gap: 3rem; } }
@media (min-width: 48em) {
  .header::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 77px;
    top: 0;
    left: 0; }

  .scroll-active.header::before {
    box-shadow: 0 4px 6px rgba(19, 20, 22, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px); } }
/* ============== Burger ================ */
@media (max-width: 47.998em) {
  body._lock {
    overflow: hidden; }

  .header::before, .header__container {
    height: 70px; }

  .menu {
    flex: 1 1 auto;
    gap: 1rem;
    justify-content: end; }

  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 3rem; }

  .menu__link {
    font-size: 1.75rem; }

  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    background: transparent; }
    .icon-menu span, .icon-menu::before, .icon-menu::after {
      content: "";
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      transition: all 0.4s ease 0s; }
    .icon-menu::before {
      top: 0; }
    .icon-menu::after {
      bottom: 0; }
    .icon-menu span {
      top: calc(50% - 1px); }
    .icon-menu._active span, .icon-menu._active::before, .icon-menu._active::after {
      background: white; }
    .icon-menu._active span {
      width: 0; }
    .icon-menu._active::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg); }
    .icon-menu._active::after {
      top: calc(50% - 1px);
      transform: rotate(45deg); }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    background-color: black;
    /* 0.2 */
    justify-content: center;
    padding: 100px 15px 30px 15px;
    transition: right 0.4s ease 0s;
    overflow: auto; }
    .menu__body a {
      color: white; }
    .menu__body .active-link {
      color: #83c94a; }
    .menu__body::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 70px;
      top: 0;
      right: 0%;
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      z-index: 15; }
    .menu__body::after {
      content: "";
      position: fixed;
      width: 80%;
      height: 100vh;
      top: 70px;
      right: -100%;
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      background-color: rgba(19, 20, 22, 0.2);
      transition: right 0.4s ease 0s; }
    .menu__body._active {
      right: 0%; }
      .menu__body._active::after {
        right: 0%; } }
.home {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 300px 0; }
  @media (max-width: 1100px) {
    .home {
      border-radius: 0 0 150px 0; } }
  @media (max-width: 600px) {
    .home {
      border-radius: 0 0 100px 0; } }
  .home .home__sub-background {
    width: 100%;
    height: 100%;
    background: url(../img/home/wrap/background.svg) no-repeat center center;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 150px; }
    @media (max-width: 600px) {
      .home .home__sub-background {
        padding-top: 152.2222222222px; } }
    @media (max-width: 360px) {
      .home .home__sub-background {
        padding-top: 130px; } }
    @media (max-width: 600px) {
      .home .home__sub-background {
        padding-bottom: 94.4444444444px; } }
    @media (max-width: 360px) {
      .home .home__sub-background {
        padding-bottom: 50px; } }

.home-wrap {
  display: flex;
  align-items: center;
  gap: 20px; }
  @media (max-width: 600px) {
    .home-wrap {
      flex-direction: column; } }
  .home-wrap .home-left {
    flex: 0 1 642px; }
    @media (max-width: 600px) {
      .home-wrap .home-left {
        flex: none; } }
    .home-wrap .home-left .home-title {
      font-weight: 700;
      font-size: var(--text-h1);
      line-height: 118%;
      letter-spacing: -0.02em;
      color: #fff;
      margin-bottom: 25px; }
    .home-wrap .home-left .home-subtitle {
      font-weight: 500;
      line-height: 233%;
      font-size: var(--text-lg1);
      color: #fff;
      margin-bottom: 38px; }
  .home-wrap .home-right {
    display: flex;
    justify-content: center;
    margin: 0 0 0 auto;
    position: relative; }
    @media (max-width: 600px) {
      .home-wrap .home-right {
        margin: 0 auto; } }
    .home-wrap .home-right .home__image-wrap {
      z-index: 1;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .home-wrap .home-right .home__image-wrap img {
        max-width: 100%;
        height: auto;
        object-fit: contain; }

.home__image-absolute {
  position: absolute;
  right: -200px;
  top: -40px;
  width: 400px;
  height: 350px;
  z-index: 0; }
  @media (max-width: 1675px) {
    .home__image-absolute {
      right: 0;
      top: 0; } }
  @media (max-width: 1100px) {
    .home__image-absolute {
      display: none; } }

.home__btn-wrap {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 37px; }

.home__icon {
  display: flex;
  align-items: center;
  gap: 10px; }
  .home__icon .home__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center; }
    .home__icon .home__img-wrap img {
      max-width: 100%;
      max-height: 100%; }
  .home__icon .home__icon-text {
    font-size: var(--text-sm1);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #fff; }

.home__botton-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; }
  .home__botton-wrap p {
    line-height: 262%;
    color: #fff; }

.meet {
  padding-top: 65px;
  padding-bottom: 200px; }
  @media (max-width: 600px) {
    .meet {
      padding-top: 45.5555555556px; } }
  @media (max-width: 360px) {
    .meet {
      padding-top: 30px; } }
  @media (max-width: 600px) {
    .meet {
      padding-bottom: 122.2222222222px; } }
  @media (max-width: 360px) {
    .meet {
      padding-bottom: 60px; } }

.meet__subheader {
  font-weight: 700;
  font-size: var(--text-sm1);
  line-height: 286%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  color: #244886;
  padding-bottom: 5px; }

.meet__header {
  font-size: var(--text-h2);
  font-weight: 900;
  text-align: center;
  padding-bottom: 80px; }
  @media (max-width: 600px) {
    .meet__header {
      padding-bottom: 52.2222222222px; } }
  @media (max-width: 360px) {
    .meet__header {
      padding-bottom: 30px; } }

.meet__card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; }

.meet__card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex: 30%; }
  @media (max-width: 900px) {
    .meet__card {
      flex: 45%; } }
  @media (max-width: 600px) {
    .meet__card {
      flex: 100%; } }
  .meet__card .meet__image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 110px;
    height: 110px;
    margin-bottom: 10px; }
    .meet__card .meet__image-wrap img {
      max-width: 100%;
      max-height: 100%; }
  .meet__card .meet__card-content {
    display: flex;
    height: 100%;
    flex-direction: column; }
    .meet__card .meet__card-content .meet__card-title {
      font-weight: 700;
      font-size: var(--text-h3);
      line-height: 162%;
      padding-bottom: 10px;
      text-align: center; }
    .meet__card .meet__card-content .meet__card-description {
      text-align: center;
      line-height: 187%;
      font-size: var(--text-sm1);
      max-width: 230px;
      margin: 0 auto; }
      @media (max-width: 600px) {
        .meet__card .meet__card-content .meet__card-description {
          max-width: 100%; } }

.smart {
  padding-bottom: 160px;
  position: relative; }
  @media (max-width: 600px) {
    .smart {
      padding-bottom: 93.3333333333px; } }
  @media (max-width: 360px) {
    .smart {
      padding-bottom: 40px; } }
  .smart .smart__decorate {
    z-index: -1;
    width: 50%;
    position: absolute;
    left: 0;
    top: 15%; }

.smart-wrap {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px; }
  @media (max-width: 600px) {
    .smart-wrap {
      flex-direction: column; } }
  .smart-wrap .smart-left {
    flex: 0 1 540px; }
    @media (max-width: 600px) {
      .smart-wrap .smart-left {
        flex: none; } }
    .smart-wrap .smart-left .smart-subtitle {
      font-weight: 700;
      font-size: var(--text-sm1);
      line-height: 286%;
      text-transform: uppercase;
      color: #244886;
      padding-bottom: 5px; }
    .smart-wrap .smart-left .smart-title {
      font-size: var(--text-h2);
      font-weight: 900;
      margin-bottom: 55px; }
  .smart-wrap .smart-right {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
    .smart-wrap .smart-right .smart__image-wrap {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .smart-wrap .smart-right .smart__image-wrap img {
        max-width: 100%;
        height: auto;
        object-fit: contain; }

.smart__icon-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px; }

.smart__icon {
  display: flex;
  align-items: S;
  gap: 10px;
  padding-bottom: 10px; }
  .smart__icon .smart__img-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .smart__icon .smart__img-wrap img {
      max-width: 100%;
      max-height: 100%; }
  .smart__icon .sercice__icon-block {
    max-width: 360px; }
  .smart__icon .smart__icon-text {
    font-size: var(--text-lg);
    font-weight: 700;
    padding-bottom: 6px; }
  .smart__icon .smart__icon-subtext {
    font-size: var(--text-sm1);
    line-height: 173%;
    color: #343d48; }

.feature {
  padding-bottom: 200px; }
  @media (max-width: 600px) {
    .feature {
      padding-bottom: 111.1111111111px; } }
  @media (max-width: 360px) {
    .feature {
      padding-bottom: 40px; } }

.feature__subheader {
  text-align: center; }

.feature__header {
  text-align: center;
  padding-bottom: 80px; }
  @media (max-width: 600px) {
    .feature__header {
      padding-bottom: 52.2222222222px; } }
  @media (max-width: 360px) {
    .feature__header {
      padding-bottom: 30px; } }

.feature__icon-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px; }
  @media (max-width: 900px) {
    .feature__icon-wrap {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600px) {
    .feature__icon-wrap {
      grid-template-columns: repeat(1, 1fr); } }
  @media (max-width: 360px) {
    .feature__icon-wrap {
      grid-template-columns: repeat(1, 1fr); } }

.feature__icon {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 10px; }
  .feature__icon .feature__img-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .feature__icon .feature__img-wrap img {
      max-width: 100%;
      max-height: 100%; }
  .feature__icon .sercice__icon-block {
    max-width: 360px; }
  .feature__icon .feature__icon-text {
    font-size: var(--text-lg1);
    padding-bottom: 20px;
    font-weight: 700; }
  .feature__icon .feature__icon-subtext {
    font-size: var(--text-sm1);
    line-height: 150%;
    color: #555c68; }

.jackpot {
  padding-bottom: 200px; }
  @media (max-width: 600px) {
    .jackpot {
      padding-bottom: 111.1111111111px; } }
  @media (max-width: 360px) {
    .jackpot {
      padding-bottom: 40px; } }

.jackpot-wrap {
  display: flex;
  align-items: center;
  gap: 20px; }
  @media (max-width: 600px) {
    .jackpot-wrap {
      flex-direction: column; } }
  .jackpot-wrap .jackpot-left {
    flex: 0 1 512px; }
    @media (max-width: 600px) {
      .jackpot-wrap .jackpot-left {
        flex: none; } }
    .jackpot-wrap .jackpot-left .jackpot-subtitle {
      margin-bottom: 10px; }
    .jackpot-wrap .jackpot-left .jackpot-title {
      margin-bottom: 40px; }
    .jackpot-wrap .jackpot-left .jackpot-parag {
      margin-bottom: 35px;
      line-height: 233%;
      color: #02073e; }
  .jackpot-wrap .jackpot-right {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
    .jackpot-wrap .jackpot-right .jackpot__image-wrap {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .jackpot-wrap .jackpot-right .jackpot__image-wrap img {
        max-width: 100%;
        height: auto;
        object-fit: contain; }

.work {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  display: flex;
  align-items: center;
  justify-content: center; }
  .work .work__sub-background {
    width: 100%;
    height: 100%;
    background: url(../img/work/wrap/1.svg) no-repeat center center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 160px; }
    @media (max-width: 600px) {
      .work .work__sub-background {
        padding-top: 56.6666666667px; } }
    @media (max-width: 360px) {
      .work .work__sub-background {
        padding-top: 30px; } }
    @media (max-width: 600px) {
      .work .work__sub-background {
        padding-bottom: 98.8888888889px; } }
    @media (max-width: 360px) {
      .work .work__sub-background {
        padding-bottom: 50px; } }

.work__subtitle {
  color: white;
  text-align: center;
  opacity: 0.7; }

.work__title {
  color: white;
  text-align: center;
  padding-bottom: 150px; }
  @media (max-width: 600px) {
    .work__title {
      padding-bottom: 94.4444444444px; } }
  @media (max-width: 360px) {
    .work__title {
      padding-bottom: 50px; } }

.work__card-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 20px; }
  @media (max-width: 1100px) {
    .work__card-wrap {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600px) {
    .work__card-wrap {
      grid-template-columns: repeat(1, 1fr); } }

.work__card {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.work__number-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-bottom: 25px; }
  .work__number-wrap .work__number {
    width: 72px;
    height: 72px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .work__number-wrap .work__number p {
      font-size: 30px;
      color: #22437d; }
  @media (max-width: 900px) {
    .work__number-wrap img {
      width: 0; } }

.work__body-wrap {
  max-width: 263px; }
  @media (max-width: 600px) {
    .work__body-wrap {
      max-width: 100%; } }
  .work__body-wrap .work__body-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 155%;
    color: #fff;
    padding-bottom: 15px; }
  .work__body-wrap .work__body-subtitle {
    font-size: 15px;
    line-height: 173%;
    color: #fff;
    opacity: 0.65; }

.client {
  padding-top: 110px;
  padding-bottom: 140px; }
  @media (max-width: 600px) {
    .client {
      padding-top: 65.5555555556px; } }
  @media (max-width: 360px) {
    .client {
      padding-top: 30px; } }
  @media (max-width: 600px) {
    .client {
      padding-bottom: 84.4444444444px; } }
  @media (max-width: 360px) {
    .client {
      padding-bottom: 40px; } }

.client__subheader {
  text-align: center;
  padding-bottom: 10px; }

.client__header {
  padding-bottom: 50px;
  text-align: center; }
  @media (max-width: 600px) {
    .client__header {
      padding-bottom: 38.8888888889px; } }
  @media (max-width: 360px) {
    .client__header {
      padding-bottom: 30px; } }

.client-swiper .client__swiper-slide {
  padding: 20px 0;
  display: flex;
  justify-content: center; }

.client__btn-wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px; }
  .client__btn-wrap .swiper-button-next,
  .client__btn-wrap .swiper-button-prev {
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
  .client__btn-wrap .swiper-button-next {
    right: 10px;
    transform: rotate(180deg); }
  .client__btn-wrap .swiper-button-disabled svg path {
    fill: #bbc7d7; }

.client__card {
  padding: 33px;
  box-shadow: 0 6px 47px 0 rgba(38, 78, 118, 0.1); }
  .client__card .client__card-content {
    margin-bottom: 35px; }
    .client__card .client__card-content .client__star {
      margin-bottom: 10px; }
    .client__card .client__card-content .client__title {
      font-weight: 700;
      line-height: 206%;
      color: #343d48;
      margin-bottom: 20px; }
    .client__card .client__card-content .client__subtitle {
      line-height: 211%;
      color: #343d48; }

.client__icon {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px; }
  .client__icon .client__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; }
    .client__icon .client__img-wrap img {
      max-width: 100%;
      max-height: 100%; }
  .client__icon .sercice__icon-block {
    max-width: 360px; }
  .client__icon .client__icon-text {
    font-weight: 700;
    line-height: 250%;
    letter-spacing: -0.03em;
    color: #0f2137; }
  .client__icon .client__icon-subtext {
    font-weight: 500;
    font-size: 15px;
    line-height: 267%;
    letter-spacing: -0.03em;
    color: #25a0ff; }

.secure {
  overflow: hidden; }

.secure-wrap {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px; }
  @media (max-width: 900px) {
    .secure-wrap {
      flex-direction: column; } }
  .secure-wrap .secure-left {
    flex: 0 1 455px; }
    @media (max-width: 900px) {
      .secure-wrap .secure-left {
        flex: none; } }
    .secure-wrap .secure-left .secure-subtitle {
      color: #666;
      margin-bottom: 10px; }
    .secure-wrap .secure-left .secure-title {
      margin-bottom: 40px; }
    .secure-wrap .secure-left .secure-description {
      line-height: 233%;
      color: #02073e;
      margin-bottom: 30px; }
  .secure-wrap .secure-right {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
    .secure-wrap .secure-right .secure__image-wrap {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      @media (max-width: 900px) {
        .secure-wrap .secure-right .secure__image-wrap {
          transform: translateX(-10px); } }
      .secure-wrap .secure-right .secure__image-wrap img {
        max-width: 100%;
        height: auto;
        object-fit: contain; }
      .secure-wrap .secure-right .secure__image-wrap ::after {
        z-index: -1;
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 250px 0 0 0;
        width: 1586px;
        height: 950px;
        background: linear-gradient(317deg, rgba(255, 253, 230, 0.35) 0%, rgba(255, 253, 230, 0.35) 0.01%, rgba(224, 239, 250, 0.35) 100%); }

.paper-white {
  background: #fff;
  border-radius: 10px; }

.text-modify-gray {
  background: #fff;
  opacity: 0.55; }

.see {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  display: flex;
  align-items: center;
  justify-content: center; }
  .see .see__sub-background {
    width: 100%;
    height: 100%;
    background: url(../img/see/wrap/1.svg) no-repeat center center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 100px; }
    @media (max-width: 600px) {
      .see .see__sub-background {
        padding-top: 43.3333333333px; } }
    @media (max-width: 360px) {
      .see .see__sub-background {
        padding-top: 30px; } }
    @media (max-width: 600px) {
      .see .see__sub-background {
        padding-bottom: 66.6666666667px; } }
    @media (max-width: 360px) {
      .see .see__sub-background {
        padding-bottom: 40px; } }

.see__subtitle {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.7; }

.see__title {
  color: white;
  text-align: center;
  padding-bottom: 80px; }
  @media (max-width: 600px) {
    .see__title {
      padding-bottom: 57.7777777778px; } }
  @media (max-width: 360px) {
    .see__title {
      padding-bottom: 40px; } }

.see__card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px; }
  @media (max-width: 900px) {
    .see__card-wrap {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600px) {
    .see__card-wrap {
      grid-template-columns: repeat(1, 1fr); } }
  @media (max-width: 360px) {
    .see__card-wrap {
      grid-template-columns: repeat(1, 1fr); } }

.see__card {
  padding: 70px 40px 50px 40px; }

.see__card-header {
  padding-bottom: 55px; }
  .see__card-header .see__card-title {
    font-weight: 700;
    font-size: var(--text-lg1);
    letter-spacing: -0.03em;
    color: #0f2137;
    margin-bottom: 6px; }
  .see__card-header .see__card-subtitle {
    line-height: 175%;
    color: #343d48; }

.see__card-body {
  padding-bottom: 70px; }
  @media (max-width: 600px) {
    .see__card-body {
      padding-bottom: 53.3333333333px; } }
  @media (max-width: 360px) {
    .see__card-body {
      padding-bottom: 40px; } }

.see__list-icon {
  display: flex;
  flex-direction: column;
  gap: 10px; }

.see__icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px; }
  .see__icon .see__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; }
    .see__icon .see__img-wrap img {
      max-width: 100%;
      max-height: 100%; }
  .see__icon .see__icon-text {
    font-size: var(--text-base);
    max-width: 292px; }

.see__card-bottom {
  display: flex; }
  .see__card-bottom button {
    margin: 0 auto; }

.question {
  padding-top: 130px;
  padding-bottom: 140px; }
  @media (max-width: 600px) {
    .question {
      padding-top: 74.4444444444px; } }
  @media (max-width: 360px) {
    .question {
      padding-top: 30px; } }
  @media (max-width: 600px) {
    .question {
      padding-bottom: 84.4444444444px; } }
  @media (max-width: 360px) {
    .question {
      padding-bottom: 40px; } }

.question__subheader {
  text-align: center;
  padding-bottom: 20px; }

.question__header {
  text-align: center;
  padding-bottom: 90px; }
  @media (max-width: 600px) {
    .question__header {
      padding-bottom: 56.6666666667px; } }
  @media (max-width: 360px) {
    .question__header {
      padding-bottom: 30px; } }

.accordion .accordion__item {
  border-bottom: 1px solid #C4C4C4; }
  .accordion .accordion__item.accordion__item-active .accordion__item-content {
    display: block;
    transition: max-height 0.3s ease-in-out; }
  .accordion .accordion__item.accordion__item-active .trigger__img-active {
    display: block !important; }
  .accordion .accordion__item.accordion__item-active .trigger__img-pasive {
    display: none !important; }

.accordion__item-trigger {
  display: flex;
  padding: 20px 0;
  align-items: center;
  cursor: pointer; }
  .accordion__item-trigger .trigger__num {
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.035em;
    color: #25a0ff; }
  .accordion__item-trigger .trigger__text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.035em;
    color: #000000;
    margin-left: 10px; }
  .accordion__item-trigger .trigger__img {
    position: relative;
    margin-left: auto; }
    .accordion__item-trigger .trigger__img .trigger__img-active {
      display: none; }
    .accordion__item-trigger .trigger__img .trigger__img-pasive {
      display: block; }

.accordion__item-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; }
  .accordion__item-content .content__text {
    margin-top: 25px;
    padding-left: 35px;
    margin-bottom: 10px; }
    .accordion__item-content .content__text:first-child {
      margin-top: 0; }

.footer {
  max-width: 100%; }
  .footer .footer__wrap {
    border-top: 1px solid #e5ecf4;
    padding-top: 60px;
    padding-bottom: 120px; }
    @media (max-width: 600px) {
      .footer .footer__wrap {
        padding-top: 40.5555555556px; } }
    @media (max-width: 360px) {
      .footer .footer__wrap {
        padding-top: 25px; } }
    @media (max-width: 600px) {
      .footer .footer__wrap {
        padding-bottom: 75.5555555556px; } }
    @media (max-width: 360px) {
      .footer .footer__wrap {
        padding-bottom: 40px; } }

.footer__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px; }
  @media (max-width: 600px) {
    .footer__menu .menu__section {
      flex: 45%; } }
  .footer__menu .menu__title {
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: -0.03em;
    color: #0f2137;
    margin-bottom: 25px; }
  .footer__menu .menu__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .footer__menu li {
    margin-bottom: 1px;
    font-size: var(--text-sm1);
    font-weight: 400;
    line-height: 250%; }
    .footer__menu li a {
      color: #02073e;
      text-decoration: none;
      opacity: 0.8; }
      .footer__menu li a:hover {
        color: #b2f0f8;
        text-decoration: underline; }

._anim-items {
  transform: translate(0px, 60%);
  opacity: 0;
  transition: all 0.8s ease 0s; }
  ._anim-items._active {
    transform: translate(0px, 0%);
    opacity: 1; }

._active.feature__icon:nth-child(1) {
  transition: all 0.8s ease 0.1s; }

._active.feature__icon:nth-child(2) {
  transition: all 0.8s ease 0.2s; }

._active.feature__icon:nth-child(3) {
  transition: all 0.8s ease 0.3s; }

._active.feature__icon:nth-child(4) {
  transition: all 0.8s ease 0.4s; }

._active.feature__icon:nth-child(5) {
  transition: all 0.8s ease 0.5s; }

._active.feature__icon:nth-child(6) {
  transition: all 0.8s ease 0.6s; }

.count-time__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-bottom: 80px; }

.count-time__item {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: white;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  border-radius: 20px; }

.count-time__value {
  font-weight: 600;
  font-size: var(--text-h3);
  line-height: 1.4;
  color: black; }

.count-time__text {
  color: black; }

._active.count-time__item:nth-child(1) {
  transition: all 0.8s ease 0.1s; }

._active.count-time__item:nth-child(2) {
  transition: all 0.8s ease 0.2s; }

._active.count-time__item:nth-child(3) {
  transition: all 0.8s ease 0.3s; }

._active.count-time__item:nth-child(4) {
  transition: all 0.8s ease 0.4s; }

/*# sourceMappingURL=style.css.map */
