.jackpot
  @include adaptivPadding($pcSize: 200, $mobSize: 40,$mode: 3)

.jackpot-wrap
  display: flex
  align-items: center
  gap: 20px
  @media (max-width: $breakpoint-sm)
    flex-direction: column
  .jackpot-left
    flex: 0 1 512px
    @media (max-width: $breakpoint-sm)
      flex: none
    .jackpot-subtitle
      margin-bottom: 10px
    .jackpot-title
      margin-bottom: 40px
    .jackpot-parag
      margin-bottom: 35px
      line-height: 233%
      color: #02073e
  .jackpot-right
    display: flex
    justify-content: center
    margin: 0 auto
    .jackpot__image-wrap
      max-width: 100%
      display: flex
      justify-content: center
      align-items: center
      img
        max-width: 100%
        height: auto
        object-fit: contain
